body {
    background-color: RGB(13, 16, 21);
    color: RGB(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    gap: 30px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 20px;
}

.image {
    max-width: 100%;
}

.image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

figcaption {
    visibility: hidden;
}

.txt {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.txt h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.txt p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-top: 10px;
}

footer button {
    background-color: RGB(0, 204, 255);
    border: none; 
    width: 60%;
    padding: 15px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 300px;
}

footer button:hover {
    background-color: RGB(16, 30, 53);
    color: RGB(255, 255, 255);
}

.size {
    border: 2px solid RGB(44, 47, 59);
    width: 80%;
    padding: 20px;
    margin-top: 20px;
}

.size a {
    text-decoration: none;
    color: RGB(255, 255, 255);
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
}

.size a:hover {
    color: RGB(0, 204, 255);
}

.product_size {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid RGB(76, 79, 96);
    border-radius: 5px;
    text-align: center;
    background-color: RGB(13, 16, 21);
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="radio"]:checked + label {
    border-color: RGB(0, 204, 255); /* Change border color when selected */
    background-color: RGB(0, 204, 255); /* Change background to blue */
    color: rgb(0, 0, 0); /* Set text color to black */
}

input[type="radio"]:disabled + label {
    background-color: #f0f0f0;
    color: #ffffff;
    border-color: RGB(0, 204, 255);
    cursor: not-allowed;
}

.perso {
    border: 2px solid RGB(44, 47, 59);
    width: 80%;
    padding: 20px;
    margin-top: 20px;
}

.perso p {
    text-decoration: none;
    color: RGB(255, 255, 255);
    margin-bottom: 10px;
    display: block;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perso input {
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    border-bottom: 1px solid RGB(66, 69, 85);
    background-color: RGB(13, 16, 21);
    color: white;
    outline: none;
    transition: border-bottom-color 0.3s;
}

.perso input:focus {
    border-bottom: 2px solid RGB(0, 204, 255);
}

.input1 {
    flex: 1;
    max-width: 10%;
}

.input2 {
    flex: 2;
    max-width: 80%;
}

.price-quantity-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: RGB(13, 16, 21);
}

.prix {
    font-size: 1.5em;
    color: RGB(255, 255, 255);
    margin-right: 45%;
}

.quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    background-color: RGB(13, 16, 21);
}

.quantity-selector button {
    background-color: RGB(13, 16, 21);
    border: 2px solid RGB(44, 47, 59);
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.quantity-selector button:hover {
    background-color: RGB(0, 204, 255);
    color: black;
}

.quantity-box {
    border: 2px solid RGB(44, 47, 59);
    padding: 10px 20px;
    background-color: RGB(13, 16, 21);
}

.quantity {
    font-size: 1.2em;
    color: RGB(255, 255, 255);
}

.cart-button {
    position: absolute;
    background-color: cyan;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    top: 35px;
    right: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cart-button:hover {
    background-color: RGB(16, 30, 53);
    color: white;
  }
  
  .cart-button::after {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .shopping-bag {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: RGB(13, 16, 21);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    color: white;
  }
  
  .close-bag {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    align-self: flex-end;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .shopping-bag p {
    margin: 10px 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid RGB(44, 47, 59);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .cart-item-image img {
    width: 80px; /* Taille de l'image */
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .cart-item-details p {
    margin: 0;
  }

@media (max-width: 768px) {
    article {
        flex-direction: column;
    }

    .image, .txt {
        width: 100%;
    }

    footer button {
        width: 100%;
    }

    .cart-button {
        top: 75px;
        right: 35px;
    }

    .price-quantity-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .prix {
        margin-bottom: 10px;
    }

}
